body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    max-width: 270px;
    width: 25%;
    min-width: 190px;
    background-color: #212121;
    padding: 12px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    order: 1;
}

.sidebar-placeholder {
    order: 3;
}

.main-content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
    order: 2;
}

.search-type-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #212121;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    gap: 20px;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

#error-message {
    font-size: 24px;
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
}

#loading-spinner {
    font-size: 24px;
    color: #ffffff;
    padding-top: 50px;
    text-align: center;
}

/* Spinner */

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End of Spinner */

.sidebar h2 {
    margin-bottom: 20px;
}

.channels-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channel-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    justify-content: center;
    color: white;
    border: 2px solid transparent;
    margin-inline: unset;
    position: unset;
}


.channel-container {
    background-color: transparent;
    border-color: #5d5d5d;
}

.channel-container.selected {
    background-color: #5d5d5d;
    border-color: #5d5d5d;
}

.channel-container:hover,
.channel-container.selected:hover {
    background-color: #8f8f8f;
    border-color: #8f8f8f;
}

.channel-type {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    flex: none;
}

/* Charter Cities/Statecraft */
.channel-type.misc {
    background-color: #8f8f8f;
}

/* Business/Startups */
.channel-type.business {
    background-color: #E65100;
}

/* Ideology/Politics */
.channel-type.ideology {
    background-color: royalblue;
}

/* Charter Cities/Statecraft */
.channel-type.charter_cities {
    background-color: limegreen;
}

/* Science/Math */
.channel-type.science {
    background-color: yellow;
}

/* War */
.channel-type.war {
    background-color: red;
}

.channel-container label {
    margin-inline: 5px;
    cursor: inherit;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

/* Donation stuff */
.donation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.donation-text {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.donation-button {
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.donation-button:hover {
    background-color: #b71c1c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.donation-button:active {
    background-color: #9a0007;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.donation-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(211, 47, 47, 0.5);
}

/* End of Donation stuff */

.search-bar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-buttons {
    display: flex;
    flex-direction: row;
}

.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #424242;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #303030;
    color: #ffffff;
}

button {
    color: white;
    background-color: #95181e;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-inline: 6px;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: #e02125;
}

.result-container {
    background-color: #212121;
    border: 1px solid #424242;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-container {
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 1372px) {
    .content-container {
        flex-direction: column;
    }
}

.score-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
}

.entry-container {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-top: 1px solid #424242;
    align-items: start;
}

.entry-container:first-child {
    border-top: none;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timestamp-score {
    margin-inline: 6px;
}

.notification {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    animation: slideUpFadeInOut 1s forwards;
    pointer-events: none;
}

@keyframes slideUpFadeInOut {
    0% {
        bottom: 80%;
        opacity: 0;
    }

    25% {
        bottom: 100%;
        opacity: 1;
    }

    80% {
        bottom: 105%;
        opacity: 1;
    }

    100% {
        bottom: 110%;
        opacity: 0;
    }
}

/* Media Queries for Mobile */
@media (max-width: 1030px) {

    body,
    .sidebar,
    .main-content,
    .search-bar-container,
    .search-bar-section,
    .results-container {
        padding: 0;
        flex-direction: column;
    }

    .sidebar-placeholder {
        max-width: 100%;
        width: 100%;
        padding-inline: 0;
        padding-block: 20px;
        order: 2;
    }

    .donation-container {
        padding-inline: 10px;
    }

    .sidebar {
        max-width: 100%;
        width: 100%;
        position: relative;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    .channels-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .main-content {
        gap: 10px;
        overflow-y: unset;
        max-height: unset;
        order: 3;
    }

    .search-bar-section {
        margin-bottom: 10px;
    }

    .search-bar {
        width: calc(50% + 100px);
        max-width: calc(100% - 40px);
    }

    .results-container {
        width: 100%;
    }

    .result-container {
        width: 100%;
        padding: 0px;
        align-items: center;
        border: 0px;
        border-top: 1px solid #424242;
        border-bottom: 1px solid #424242;
        border-radius: 0px;
    }

    .content-container {
        max-width: 178vh;
        flex-direction: column;
        align-items: center;
    }

    .score-container {
        margin-left: 0;
    }

    /* Responsive video container */
    .video-container {
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding: 0% 0% 56.25%;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}